 /* Global CSS for all the pages */
 @font-face {
  font-family: 'LibreBodoni-Regular';
  src: URL('../fonts/LibreBodoni-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LibreBodoni-Italic';
  src: URL('../fonts/LibreBodoni-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: URL('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'themify';
  src:url('../fonts/themify.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

*::selection{
   background-color: #FFAE37;
   color:white;
}

::-webkit-scrollbar{
 height: .5rem;
 width: 0.5rem;
}

::-webkit-scrollbar-track{
 background-color: transparent;
}

::-webkit-scrollbar-thumb{
 background-color: #f8c57c;
}

/* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.ti-angle-down:before {
  content: "\e64b";
}
.ti-angle-up:before {
  content: "\e648";
}
.ti-angle-right:before {
  content: "\e649";
}
.ti-angle-left:before {
  content: "\e64a";
}
.ti-angle-down:before {
  content: "\e64b";
}
.fa-facebook:hover {
  color: #4866AB !important;
}
.fa-linkedin:hover {
  color:  #0072b1 !important;
}
.fa-instagram:hover {
  color: #E84858 !important;
}

html {
 scroll-behavior: smooth;
 background-color: white;
}


body {
 margin: 0;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
}

header{
  margin-top: 100px;
}

section{
  margin: 100px;
}

h1{
  font-family: 'LibreBodoni-Regular';
  font-weight: 100;
  font-size: 60px;
  text-align: center;
}

h2{
  font-family: 'LibreBodoni-Regular';
  font-weight: 100;
  font-size: 40px;
  text-align: center;
}

h4{
  font-family: 'LibreBodoni-Regular';
  font-weight: 100;
  font-size: 25px;
}

p{
  text-transform: none;
  padding-bottom: 7px;
}

.link{
  color: #ffae37;
}

.link:hover{
  text-decoration: underline;
}

.button-style{ /*for normal buttons */
 display: block;
 padding: 0;
 border: none;
 margin: 0;
 background: #f8c57c;
 color: #fff;
 font-size: 12px;
 text-decoration: none;
 padding: 15px;
 position: relative;
 cursor: pointer;
 transition: all 0.3s ease-out;
 letter-spacing: 3px;
 text-transform: uppercase;
}

.button-style:hover {
 display: block;
 padding: 15px;
 font-size: 12px;
 border: 1px solid #f8c57c;
 color: #FFAE37;
 background-color: transparent;
 position: relative;
}

.button-style2{ /*for learn more */
  display: block;
  padding: 0;
  border: none;
  margin: 20px 0 0;
  background: #f8c57c;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  padding: 9px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-out;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 60%;
  font-weight: 300;
}

.button-style2:hover {
  display: block;
  width: 60%;
  font-weight: 300;
  padding: 8.6px;
  font-size: 12px;
  border: 1px solid #f8c57c;
  color: #FFAE37;
  background-color: transparent;
  position: relative;
 }

.horizontal-line {
 width: 40%;
 height: 1px !important;
 display: inline-block;
 background-color: #FFAE37;
 margin: 20px 0px;
}

.section-title {
 font-family: 'LibreBodoni-Regular';
 font-weight: 100;
 font-size: 40px;
}

.section-title-sm {
 font-family: 'LibreBodoni-Regular';
 font-weight: 100;
 font-size: 30px;
}

.section-sub-title {
 color: darkgray;
}

.section-subheading {
 font-family: 'LibreBodoni-Regular';
 font-weight: 100;
 text-transform: uppercase;
 color: #FFAE37;
 letter-spacing: 1px;
 font-size: 16px;
 margin-bottom: 12px;
}

.container {
 padding-right: 120px;
 padding-left: 120px;
 width: 100%;
 margin-right: auto;
 margin-left: auto;
 transition: all 0.5s ease-in-out;
}

.reveal {
 opacity: 0;
}

.reveal.left.animate {
 opacity: 1;
 animation: fade-left 1s ease-in-out;
}

.reveal.right.animate {
 opacity: 1;
 animation: fade-right 1s ease-in-out;
}

.reveal.up.animate {
 opacity: 1;
 animation: fade-up 1s ease-in-out;
}

.reveal.fade.animate {
 opacity: 1;
 animation: fade 1s ease-in-out;
}


/* footer starts */
.footer {
 background-color: #fff3e2 !important;
 width: 100%;
 height: 100%;
 text-align: center;
}

.footer .container {
 padding-top: 40px;
 padding-bottom: 0px;
}

.footer .fa-brands{
  color: #BAB2B5;
  font-size: 25px;
  padding-right: 10px;
  text-align: left;
}

.footer .fas{
  color: #FFAE37;
  width:100px;
}

.footer .info{
  margin-bottom: 40px;
}

.footer .email{
  padding-bottom: 10px;
}

.footer-header{
  display: inline !important;
}

.footer .box {
 width: 100%;
 display: inline-block;
 width: 365px;
 height: 100px;
 vertical-align: top;
}

.footer-left{
  height: 120px!important;
}

.footer .socials{
  padding-left: 20px;
}

.footer h3 {
 font-size: 16px;
 color: black;
}

.footer p {
 font-size: 15px;
 color: dimgray;
 padding-bottom: 10px;
}

.footer .box img {
 width: 180px;
 margin-bottom: 10px;
}

.footer .container{
  display: block !important; 
}

.footer hr {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  display: inline-block;
  margin-top: 75px;
}

.footer .phone{
  color: dimgray !important;
}

/* footer end */

@keyframes fade-right {
 0% {
   position: relative;
   opacity: 0;
   left: 40px;
 }
 100% {
   position: relative;
   opacity: 1;
   left: 0px;
 }
}

@keyframes fade-left {
 0% {
   position: relative;
   opacity: 0;
   right: 40px;
 }
 100% {
   position: relative;
   opacity: 1;
   right: 0px;
 }
}

@keyframes fade-up {
 0% {
   position: relative;
   opacity: 0;
   top: 40px;
 }
 100% {
   position: relative;
   opacity: 1;
   top: 0px;
 }
}

@keyframes fade {
 0% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}

@keyframes title-slide {
 0% {
   opacity: 0.8;
   top: 500px;
 }
 100% {
   opacity: 1;
   top: 280px;
 }
}

@media screen and (max-width: 1400px) {
 .container {
   padding-right: 80px;
   padding-left: 80px;
   margin-right: auto;
   margin-left: auto;
 }

 .copyright{
  background-color: #fff3e2;
 }
}

@media screen and (max-width: 900px) {
 
}

@media screen and (max-width: 850px) {
 .container {
   padding-right: 30px;
   padding-left: 30px;
   margin-right: auto;
   margin-left: auto;
 }

 .footer section {
    float: left;
    width: 100%;
    padding: 0px;
 }
 
 .footer .box a {
   width: 30%;
 }

 .footer .box{
  width: auto;
 }
}

@media screen and (max-width: 600px) {
 
 .footer .box a {
   width: 40%;
 }
 .footer .container {
   padding-top: 40px;
   padding-bottom: 0px;
 }
}
