#home{
    top:0;
}

header{
  text-align: center;
  padding-top: 250px;
  padding-bottom: 150px;
  margin: 0;
}

header h1{
    font-family: 'LibreBodoni-Regular';
    font-weight: 100;
    font-size: 60px;
    display: inline-block;
    padding-right: 5px;
    padding-left: 10px;
}

header p{
    text-transform: capitalize;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.name{
    padding-left: 10px;
    color: #ffae37;
}

header p{
    padding-top: 20px;
    font-size: large;
}

.section-title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* about me section */

.aboutme{
    /* margin: 100px 100px 0px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%
}

.aboutme h2{
    display: inline-block;
}

.aboutme .section-title{
    padding-bottom: 20px;
}

.aboutme .container{
    height: 250px;
}

.aboutme article{
    float: right;
    width: 60%;  
    padding-right: 50px;
}

.aboutme aside{
    float: left;
    width: 30%;
    display:flex;
    justify-content: right;
}

.aboutme img{
    width:70%;
}

/* projects section */

.project{
    padding-top:80px;
    margin: 0px 120px 0px;
}

.project h2{
    padding-bottom: 10px;
}

.project .inner .container h4{
    margin-top: 20px;
}

.project .inner{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}

.project .inner .container{
    width: 100%;
    padding: 20px;
}

.project aside{
    padding: auto;
    display: block;
}

.project img{
    width:100%;
}

aside .uxd-img{
    padding: 25px 0;
}


/* achievement section */

.awards{
    padding-top: 80px;
    margin-top: 0px;
    margin-bottom: 20px;
}


* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  /* background: #EEE; */
  width: 100%;
}

.carousel-cell {
  width: 32.7%;
  height: 500px;
  margin-right: 10px;
  /* background-color: #8C8; */
}

.carousel-cell img{
  width: 92%;
}

.awards aside{
    display:flex;
    justify-content: center;
}

.award article{
    padding: 20px 19px;
}

.award h5{
    color: #ffae37;
    font-weight: 500;
    padding-top: 8px;
    font-size: 14px;
    /* text-align: center; */
}

.award p{
    padding-top: 10px;
}

/* skills section */

.skills{
    padding: 100px 100px 80px;
    margin:0;
}

.skills .container{
    width:90%;
    display:flex;
    justify-content: space-evenly;
    gap:4em 5em;
    flex-wrap: wrap;
}

.skills img{
    width: 90px;
    height: 90px;
}

@media screen and (max-width: 950px){
    .carousel-cell{
        height: 500px;
    }
    .project{
        margin: 10px 90px 70px;
    }
}

@media screen and (max-width: 850px){
    header p{
        width: 80%;
    }
    section{
        margin: 40px;
    }
    .carousel-cell{
        width: 38%;
    }
    .project{
        margin: 10px 70px 50px;
    }
}

@media screen and (max-width: 750px){
    header p{
        width: 90%;
    }
    .carousel-cell{
        width: 52%;
        margin-right:10px;
        margin-left: 10px;
    }
    .project{
        margin: 10px 50px 50px;
    }
    .skills {
        padding: 90px 70px 80px;
    }
    
    .skills .container{
        width:90%;
        display:flex;
        justify-content: space-evenly;
        gap:4em 5em;
        flex-wrap: wrap;
    }

    .skills img{
        width: 72px;
        height: 72x;
    }
    .aboutme aside{
        width: 40%;
    }
    .aboutme img{
        width:100%;
    }
    .aboutme article{
        width: 53%;
        padding-right: 5px;
    }
}


@media screen and (max-width: 650px){
    header p{
        width: 90%;
        font-size: 15px;
    }
    section{
        margin: 50px;
    }
    .carousel-cell{
        width: 80%;
        margin-left: 20px;
        margin-right: 10px;
    }
    .project{
        margin: 10px 20px 50px;
    }
    .project .inner{
        display: block;
    }
    .skills {
        padding: 90px 50px 80px;
    }
    .aboutme .container{
        height: 340px;
        padding: 5px;
    }
    .aboutme article{
        width: 55%;
        padding-right: 0px;
    }
    .aboutme aside{
        padding-top: 40px;
    }
}

@media screen and (max-width: 600px) {
    .skills {
        padding: 50px 0px 80px;
    }  
    .skills .section-title{
        margin-right: 20px;
        margin-left: 20px;
    }
    .skills .container{
        width:90%;
        display:flex;
        justify-content: space-evenly;
        gap:3em 3em;
        flex-wrap: wrap;
    } 

    .skills img{
        width: 70px;
        height: 70px;
    }
}

@media  screen and (max-width: 420px) {
    header h1{
        font-size: 50px;
    }
    section{
        margin: 10px;
    }
    .section-title{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
        font-size: 35px;
    }
    .awards{
        padding-bottom: 40px;
        margin: 0 15px 15px
    }
    .carousel-cell{
        height: 400px;
    }
    
    .skills {
        padding: 80px 0px 80px;
    }  
    .skills .section-title{
        margin-right: 20px;
        margin-left: 20px;
    }  
    .skills .container{
        width:90%;
        display:flex;
        justify-content: space-evenly;
        gap:2em 2em;
        flex-wrap: wrap;
    }

    .skills img{
        width: 45px;
        height: 50px;
    }
}