.topnav {
    position: fixed;
    font-family: 'LibreBodoni-Regular' !important;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    background-color: white;
    z-index: 99;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 5%);
  }

  .sticky{
    position: fixed;
  }
  
  .active {
    display: none !important;
    border: 2px solid #FFAE37;
    border-radius: 4px;
    padding: 10px 14px !important;
    margin: 0px 14px;
  }
  
  .active:hover {
      background-color: #FFAE37;
      color: white !important;
  }
  
  .topnav .nav-items button {
    color: black !important;
  }
  
  .topnav.container.nav-items.dropdown .dropdown-content {
    animation: none;
  }
  
  .nav-logo {
    float: left;
    width: 210px;
    padding-top: 7px;
  }
  
  .nav-items {
    float: right;
    margin-top: 10px;
  }
  
  .ti-angle-down {
      padding-left: 0px;
      font-size: 8px;
  }

  .nav-items a {
    float: left;
    display: block;
    color: black !important;
    text-align: right;
    padding: 14px;
    text-decoration: none;
    /* font-size: 22px; */
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .item:hover{
    color:#ffae37 !important;
  }

  .topnav .t-socials{
    color:gray !important;
  }

  .topnav .fa-linkedin{
    padding-left: 8px !important;
  }
  
   .topnav .icon { /*hanburger menu icon*/
    display: none;
  }

  .scroll-indicator {
    position: fixed;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 5%);
    color: white;
    bottom: 40px;
    right: 50%;
    text-align: center;
    padding: 13px 13px 8px 13px;
    border-radius: 50%;
    background-color: #f8c57c;
    transition: all 0.7s ease-in-out;
  }
  
  .scroll-indicator:hover {
    background-color: #FFAE37;
  }
  
  .to-top {
    left: auto !important;
    animation: none !important;
    transform: rotate(180deg);
    right: 40px;
    padding: 15px 15px 10px 15px !important;
  }
  
  .scroll-indicator.to-top:hover {
    margin-bottom: 8px;
  }
  
  .scroll-indicator .ti-angle-down {
    font-size: 15px !important;
    line-height: 0px !important;
    font-weight: bold;
  }
  
  @keyframes slide {
    0% {
      opacity: 0.8;
      top: -50px;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
      margin-top: 20px;
    }
    100% {
      opacity: 1;
      margin-top: 0px;
    }
  }
  
  @keyframes jump {
    0% {
      margin-bottom: 12px
    }
    50% {
      margin-bottom: 0px
    }
    100% {
      margin-bottom: 12px
    }
  }
  
  @media screen and (max-width: 550px) {
     .scroll-indicator{
        right: 45%;
     }
     .to-top{
      right: 30px;
     }
  }
  
  
  @media screen and (max-width: 1500px) {
    .topnav .t-socials{
      font-size: 24px !important;
      padding-top: 4.5px !important;
    }
  }
  
  @media screen and (max-width: 1300px) {
      .topnav a:not(.dropdown-content a) {
        font-size: 11px;
        padding: 12px 8px;
      }
  }
  
  @media screen and (max-width: 1200px) {
    .topnav a{
      display: none;
    }

    .topnav a.icon {
      float: right;
      display: block;
      margin-top: 10px;
      color:black !important;
    }
    .topnav.responsive img {
      float: none;
    }
    .nav-items {
      float: none;
      margin-top: 0px;
      padding-bottom: 20px;
      display: none;
    }

    .nav-logo {
      float: none;
      padding-top: 8px;
    }
    .topnav .fa-linkedin{
      padding-left: 0px !important;
    }

  }
  
  @media screen and (max-width: 1200px) {
    .topnav.responsive .icon {
      position: relative;
      float: right;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
      border: none;
    }
      .topnav.responsive .dropdown-content a {
          padding: 14px 35px;
      }
      .topnav.responsive .active {
          margin: 0 !important;
      }
    
      .topnav.responsive .nav-items {display: block; animation: fade 0.5s}
      .nav-items{
        text-align: center;
      }
      .topnav .t-socials{
        display: inline-block !important;
        /* margin-left: auto;
        margin-right:auto; */
        padding-top: 25px;
      }
  }
  