#projectsNav {
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly; /*so that the spacing is equal*/
    height: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #fff3e2;
  }

#projectsNav div {
    float: left;
    font-size: 1.00em;
    line-height: 1em;
    text-decoration: none;
    transition: all 0.2s ease-out;
    cursor: pointer;
  }
  
  #projectsNav div:hover, .click {
    border-bottom: 3px #FFAE37 solid;
  }

  #projectsNav .click{
    border-bottom: 3px #FFAE37 solid;
  }

 .projects {
    margin: 20;

  }

  h2{
    padding-top: 30px;
  }

  .proj{
    padding-top: 0px;
    text-align: left;
    font-size: 37px;
    padding-bottom: 10px;
  }

/* p{
  padding-top: 10px;
} */

iframe{
  padding-bottom: 20px;
}

  h4{
    padding-bottom: 20px;
    text-decoration: underline;
  }

  .projects .container{
    height: 30px;
    padding-bottom: 20px;
  }

  .srm, .uxd, .vap{
    margin:0;
    padding: 100px 50px 0px;
  }

  
.display{
    display: block !important;
}

.top{
  padding-top: 0px !important;
}

.remove{
    display:none !important;
}
